# Iris Dataset Analysis

### Import required modules

In [165]:
import pandas as pd

### Load data

The Iris dataset source: Fisher, R. (1936). Iris [Dataset]. UCI Machine Learning Repository. https://doi.org/10.24432/C56C76.

Since the dataset is structured using comma-separated values, we can use the [pandas.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function to load it for analysis.

In [166]:
#Â Pass the file name when calling pandas read_csv() function
# Specifing separator is optional in this case as pandas automatically detects commas
# The file doesn't include a header row as confirmed by checking the original data source
# Column names were manually assigned based on iris.names metadata file
iris_df = pd.read_csv("iris.data", sep=',', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

# Use pandas head function to show the first 5 rows giving an idea of the dataset structure
iris_df.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [270]:
stats = iris_df.describe(include='all')
stats

        sepal_length  sepal_width  petal_length  petal_width        class
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

## Features Summary

Since the dataset contains four numerical features and one categorical feature (`class`), we analyse each feature separately using the appropriate statistics measures.

For the numerical features we summarise data using [pandas.DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)  functions, calculating mean, median, standard deviation, minimum and maximum values. 

For categorical feature, we identify the numbur of unique classes and values count per each calss.

In [282]:
# Sepal length - Statistics Summary
mean = iris_df['sepal_length'].mean()
median = iris_df['sepal_length'].median()
st_dev = iris_df['sepal_length'].std()
min = iris_df['sepal_length'].min()
max = iris_df['sepal_length'].max() 

sepal_len_txt = (f'Sepal length\n\n'
                      f'Mean:\t\t{mean}\n'
                      f'Median:\t\t{median}\n'
                      f'Std Dev:\t{st_dev}\n' 
                      f'Min:\t\t{min}\n' 
                      f'Max:\t\t{max}')

In [283]:
# Sepal width - Statistics Summary
mean = iris_df['sepal_width'].mean()
median = iris_df['sepal_width'].median()
st_dev = iris_df['sepal_width'].std()
min = iris_df['sepal_width'].min()
max = iris_df['sepal_width'].max()

sepal_wid_txt = (f'Sepal width\n\n'
                      f'Mean:\t\t{mean}\n'
                      f'Median:\t\t{median}\n'
                      f'Std Dev:\t{st_dev}\n' 
                      f'Min:\t\t{min}\n' 
                      f'Max:\t\t{max}')

In [284]:
# Petal length - Statistics Summary 
mean = iris_df['petal_length'].mean()
median = iris_df['petal_length'].median()
st_dev = iris_df['petal_length'].std()
min = iris_df['petal_length'].min()
max = iris_df['petal_length'].max()

petal_len_txt = (f'Petal length\n\n'
                      f'Mean:\t\t{mean}\n'
                      f'Median:\t\t{median}\n'
                      f'Std Dev:\t{st_dev}\n' 
                      f'Min:\t\t{min}\n' 
                      f'Max:\t\t{max}')

In [285]:
# Petal width - Statistics Summary
mean = iris_df['petal_width'].mean()
median = iris_df['petal_width'].median()
st_dev = iris_df['petal_width'].std()       
min = iris_df['petal_width'].min()
max = iris_df['petal_width'].max()

petal_wid_txt = (f'Petal width\n\n'
                      f'Mean:\t\t{mean}\n'
                      f'Median:\t\t{median}\n'
                      f'Std Dev:\t{st_dev}\n' 
                      f'Min:\t\t{min}\n' 
                      f'Max:\t\t{max}')

In [286]:
#Â Class - Statistics Summary
unique_class = iris_df['class'].unique()
frequency = iris_df['class'].value_counts()

class_txt = (f'Class\n\n'
                  f'Unique values:\t{unique_class}\n'
                  f'Value Frequency:\n{frequency}')
print(class_txt)

Class

Unique values:	['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
Value Frequency:
class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [287]:
filename = 'summary.txt'

with open(filename, 'w') as f:
    f.write(f'{sepal_len_txt}')
    f.write('\n\n\n')
    f.write(f'{sepal_wid_txt}')
    f.write('\n\n\n')
    f.write(f'{petal_len_txt}')
    f.write('\n\n\n')
    f.write(f'{petal_wid_txt}')
    f.write('\n\n\n')
    f.write(f'{class_txt}')

## Consolidating Feature Summary Into a Function 

Since manual calculation is repetetive, now we can create a function that will automate the process of getting feauters summary.

In [288]:
# Check the data types of each column
data_type = iris_df.dtypes

# Show data types
data_type

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
class            object
dtype: object

In [ ]:
# Check accessing features (columns) of the dataset
# Using the columns attribute, which returns the column names
features = iris_df.columns

# Sshow features
features

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [281]:
"""
Write a function that takes a list of features and returns a string with summary statistics for each feature.
"""
def summary_stats(features):
    # Initialize an empty string for the function to append the summary of each feature 
    summary_string = ""

    # Iterate through each feature (column) in the list of features using a for loop
    # Feature names are stored in the variable "features" defined outside the function
    for column in features:

        #Â Since the function performs certain calculations beased on the column type of data defined within the if, elif blocks, use try-except to handle any potential data type errors
        #Â The try block contains the code that might raise an error
        try:

            #Â We know that Iris dataset contains numerical and categorical data
            #Â We can check the data type of each column using the if function and the dtype attribute
            # [] is used to access the column in the dataframe
            if iris_df[column].dtype == 'float64':
                
                # For numerical data, use pandas.DataFrame functions to calculate summary statistics: mean, median, standard deviation, min, and max
                mean = iris_df[column].mean()
                median = iris_df[column].median()
                st_dev = iris_df[column].std()
                min = iris_df[column].min()
                max = iris_df[column].max() 

                #Â Create a summary string for the numerical feature using f-string formatting 
                # To dynamically create the string we pass the column name in the first line followed by the calculated statistics values
                #Â The \n character is used to create a new line in the string for readability 
                #Â The \t character is used to create a tab space in the string - it allows to align calculated values so the output looks neat
                feature_summary = (f'{column}\n\n'
                            f'Mean:\t\t{mean}\n'
                            f'Median:\t\t{median}\n'
                            f'Std Dev:\t{st_dev}\n' 
                            f'Min:\t\t{min}\n' 
                            f'Max:\t\t{max}')
                
            # Using elif instead of else to give the function a different instruction for a specific data type 
            elif iris_df[column].dtype == 'object':

                # For categorical data we use pandas.Series functions to describe unique classes and values frequency within each class
                unique_class = iris_df[column].unique()
                frequency = iris_df[column].value_counts()  
                
                #Â Create a summary string for the categorical feature using f-string formatting
                feature_summary = (f'{column}\n\n'
                            f'Unique Classes:\t{unique_class}\n'
                            f'Value Frequency:\n{frequency}')

            #Â Append the summary string for each feature to the summary_string variable
            # Add two new lines to separate each feature summary for readability
            summary_string += feature_summary + "\n\n"
        
        # The except block is executed if an error occurs in the try block
        #Â It outputs a alert string if the program encounterred any other data type other than float64 or object
        except:
            feature_summary = (f'{column}\n\n'
                 f"Summary could not be created for {column} due to unsupported data type {iris_df[column].dtype}")
            # Append the alert string to the summary_string variable
            summary_string += feature_summary + "\n\n"
    
    # Return the summary_string variable containing the summary for all features
    return summary_string 
    
#Â Assign the list of features (columns) to a variable to be used inside the summary stats function
features = iris_df.columns

# Call the summary_stats function and pass the features variable to it
summary_stats(features)

print(summary_stats(features))

sepal_length

Mean:		5.843333333333334
Median:		5.8
Std Dev:	0.8280661279778629
Min:		4.3
Max:		7.9

sepal_width

Mean:		3.0540000000000003
Median:		3.0
Std Dev:	0.4335943113621737
Min:		2.0
Max:		4.4

petal_length

Mean:		3.758666666666666
Median:		4.35
Std Dev:	1.7644204199522617
Min:		1.0
Max:		6.9

petal_width

Mean:		1.1986666666666668
Median:		1.3
Std Dev:	0.7631607417008414
Min:		0.1
Max:		2.5

class

Unique Classes:	['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
Value Frequency:
class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

### References for Summary Stats function
The following resources have been used to construct the summary stats function: 
- Accessing columns:
  - [columns](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html)
- Selecting columns one by one within for loop:
  - Pandas guiie on using [[]](https://pandas.pydata.org/docs/user_guide/indexing.html) for selecting columns
- Validating data type: 
  - [dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html) method
  - [dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes) user guide
- Statisticts functions within pandas.DataFrame for numerical columns:
  - [mean](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html)
  - [median](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.median.html)
  - [std](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html)
  - [min](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.min.html)
  - [max](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.max.html)
- Functions within pandas.Series for analysing categorical data:
  - [unique](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html)
  - [value_counts](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)