### Import required modules

In [65]:
import pandas as pd

### Load data

The Iris dataset source: Fisher, R. (1936). Iris [Dataset]. UCI Machine Learning Repository. https://doi.org/10.24432/C56C76.

Since the dataset is structured using comma-separated values, we can use the [pandas.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) function to load it for analysis.

In [66]:
# Pass the file name when calling pandas read_csv() function
# Specifing separator is optional in this case as pandas automatically detects commas
# The file doesn't include a header row as confirmed by checking the original data source
# Column names were manually assigned based on iris.names metadata file
iris_df = pd.read_csv("iris.data", sep=',', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

# Use pandas head function to show the first 5 rows giving an idea of the dataset structure
iris_df.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Describing data
We can summurise each variable in the dataset using [pandas.DataFrame.describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) method, which generates descriptive statiscic.

Since the dataset contains four numerical columns and one categorical column (class), we use the include='all' argument to ensure that all variables are included in the summary. This results in a combination of numerical and categorical summary statistics.

In [67]:
# Use .describe() function 
iris_df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width        class
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN